@import '../../scss/variables/colors';
@import '../../scss/mixins.scss';

.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  height: 146px;
  position: relative;
  width: 100%;

  @include sm {
    height: 172px;
  }
}

.content {
  display: grid;
  height: 100%;
  place-content: center;
  position: relative;
}

.gradient {
  background: linear-gradient(180deg, rgba($black, 0) 22.78%, $black 122.69%);
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.title {
  bottom: 0;
  color: $white;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 16px;
  margin-bottom: 14px;
  position: absolute;
  text-align: center;
  width: 100%;
}
