@import '../../scss/variables/colors';
@import '../../scss/variables/animations';
@import '../../scss/mixins.scss';

.container {
  color: $white;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 4px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  width: 100%;

  .label {
    position: relative;

    &::after {
      bottom: 2px;
      content: url(../../assets/img/arrow-down.svg);
      font-family: BebasNeueBold;
      position: absolute;
      right: -18px;
    }
  }

  @include sm {
    position: relative;
  }
}

.dropdown {
  background-color: $liteflix-dark-grey;
  filter: drop-shadow(0px 18px 43px rgba(36, 36, 36, 0.3));
  font-size: 16px;
  padding: 24px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 28px;
  width: 240px;
  z-index: 3;
  animation: fadein 0.5s;

  div:first-child {
    margin-bottom: 16px;
  }

  .option {
    display: flex;
    justify-content: space-between;

    &:hover {
      color: $liteflix-green;
    }
  }

  &::before {
    border-bottom: 6px solid $liteflix-dark-grey;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 30px;
    top: -6px;
    width: 0;
  }

  @include sm {
    bottom: 0;
    position: fixed;
    top: auto;
    width: 100vw;

    &::before {
      content: none;
    }
  }
}
