@import '../../scss/variables/colors';
@import '../../scss/mixins.scss';

.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  position: relative;
  width: 100%;

  @include sm {
    height: 100vh;

    &::after {
      background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
      bottom: 0;
      content: '';
      height: 100px;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 152px 104px 0;

  @include sm {
    flex-direction: column;
    padding: 0 24px;
  }
}

.mainMovie {
  .subheader {
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 24px;
    margin-top: 386px;

    @include sm {
      margin-top: 266px;
    }
  }

  .title {
    color: $liteflix-green;
    font-family: BebasNeueBold;
    font-size: clamp(76px, 20vw, 120px);
    letter-spacing: 16px;
    line-height: 100px;
    margin: 32px 0;

    @include sm {
      margin: 16px 0;
    }
  }

  .secondaryButton {
    margin-left: 24px;

    @include sm {
      margin: 16px 0 64px;
    }
  }

  @include sm {
    text-align: center;
  }
}

.otherMovies {
  width: clamp(100px, 16vw, 220px);
  z-index: 1;

  @include sm {
    width: 100%;
  }
}

.movies {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dropdown {
  margin-bottom: 32px;
}

.movie {
  margin-bottom: 20px;
}
