@import '../../scss/mixins.scss';

.container {
  align-items: center;
  border: 1px dashed white;
  color: white;
  display: flex;
  font-size: 16px;
  height: 100px;
  justify-content: center;
  letter-spacing: 4px;
  position: relative;

  span {
    display: contents;

    &::before {
      content: url('../../assets/img/clip.svg');
      margin-right: 16px;
    }
  }

  input {
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.uploading {
  @include flex(start, start, column);

  .cancelButton {
    align-self: end;
    min-width: 0;
    padding: 20px 0;
  }
}
