@import '../../scss/variables/colors';

.input {
    all: unset;
    border-bottom: 1px solid $white;
    padding-bottom: 8px;
    color: $white;

    &::placeholder {
        color: $white;
        font-size: 16px;
        letter-spacing: 4px;
    }
}
