@import '../../scss/variables/colors';
@import '../../scss/mixins.scss';

.background {
  background-color: rgba($liteflix-dark-grey, 0.7);
  display: grid;
  height: 100vh;
  place-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.modal {
  align-content: center;
  background-color: $liteflix-dark-grey;
  display: flex;
  flex-direction: column;
  padding: 48px 64px;
  position: relative;
  text-align: center;
  width: 730px;

  .closeButton {
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 15px;
  }

  @include sm {
    height: 100vh;
    padding: 0 24px;
    width: 100vw;
  }
}

.title {
  color: $liteflix-green;
  font-family: BebasNeueBold;
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 48px;

  @include sm {
    margin: 100px 0 72px;
  }
}

.input {
  margin-bottom: 48px;

  @include sm {
    margin-bottom: 96px;
  }
}

.uploadButton {
  margin-bottom: 24px;
}
