@import '../../scss/mixins.scss';

.nav {
  color: white;
  padding: 32px 104px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  @include sm {
    padding: 16px 24px;
    width: 100vw;
  }
}

.navContent {
  @include flex(flex-start);

  .logo {
    @include sm {
      width: 98px;
    }
  }

  .addMovie {
    @include sm {
      order: -1;
    }
  }

  .navButtons {
    @include flex;
    margin-left: auto;

    .menu,
    .notifications {
      margin-right: 40px;

      @include sm {
        display: none;
      }
    }

    .profile {
      @include sm {
        width: 36px;
      }
    }

    @include sm {
      margin-left: 0;
    }
  }

  @include sm {
    justify-content: space-between;
  }
}
