@import '../../scss/variables/colors';

.label {
  color: $white;
  letter-spacing: 4px;
  margin-bottom: 16px;
  text-align: left;
}

.container {
  background-color: rgba($white, 0.5);
  height: 4px;
  position: relative;
  width: 100%;

  .filler {
    background-color: $liteflix-green;
    height: 10px;
    position: absolute;
    top: -4px;
    transition: width 0.05s ease-in-out;
  }
}
