@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'layout';
@import 'fonts';
@import 'mixins';
@import './variables/colors';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $liteflix-dark-grey;
  font-family: BebasNeueBook, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

// TODO: check this
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
}

*[hidden] {
  visibility: hidden;
}
